* {
  padding: 0;
  margin: 0;
  
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 2rem 1 rem;
  box-sizing: content-box;
}






/* Estilos del formulario */

.title_form {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}

.form_div {
  width: 60vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label_name {
  font-size: clamp(1rem, -1.5rem + 3.5vw, 3rem);
  font-weight: 600;
}

.input_name {
  padding: 1rem;
}

.input_name::placeholder {
  font-size: clamp(1rem, -1.5rem + 2.5vw, 3rem);
}

.input_name,
.btn_submit{
  height: 3rem;
  border-radius: 5px;

}

.btn_submit {
  background-color: rgb(25, 135, 84);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}
.btn_submit:hover {
  background-color: rgb(47, 86, 214);
}
textarea {
  padding: 1rem;
}                                                                                                             